JSONparse.py
.ipynb_checkpoints/Datenanalyse_copy_run-checkpoint.ipynb
.ipynb_checkpoints/Datenanalyse_custom-checkpoint.ipynb
.ipynb_checkpoints/Datenanalyse_run-checkpoint.ipynb
.ipynb_checkpoints/Datenanalyse-checkpoint.ipynb
backup/Datenanalyse_BackupVerison.ipynb
